*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #14131a;
  color: white;
  font-family: "Roboto", sans-serif;
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* CONTAINER HEADER */
.container {
  max-width: 1140px;
  margin: auto;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 80px;
}

.logo_link {
  display: inline-block;
  margin-right: 52px;
}

.nav_menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav_menu_item {
  margin-left: 30px;
}

.nav_menu_link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}

/* section hero */
.film_date {
  display: block;
  margin-bottom: 38px;
  font-size: 24px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.8);
}

.film_logo {
  margin-bottom: 40px;
}

.film_description {
  max-width: 423px;
  margin-bottom: 70px;
  font-size: 16px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.8);
}

.button {
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.button_text,
.button_icon {
  display: inline-block;
  vertical-align: middle;
}

.button_text {
  font-size: 14px;
  line-height: 16px;
  margin-left: 10px;
}

.button_primary {
  background-color: white;
  color: #8d0019;
}

.button_link {
  color: white;
}

.venom {
  position: absolute;
  top: 0;
  right: 0;
}
